{
    "presets": ['env', 'stage-0'],
    "plugins": ['transform-runtime',[
        "component",[
            {
                "libraryName":"mint-ui",
                "style":true
            }
        ]
    ]],
    "ignore":"./views/assets/mui-master/examples/hello-mui/js/mui.js"
}